<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.hubu.gh_users_view.mapper.ChinaMapper" >

  <resultMap id="BaseResultMap" type="edu.hubu.gh_users_view.entity.China" >
    <result column="code" property="code" jdbcType="INTEGER" />
    <result column="EN_name" property="enName" jdbcType="VARCHAR" />
    <result column="CH_name" property="chName" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="DECIMAL" />
    <result column="latitude" property="latitude" jdbcType="DECIMAL" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap" >
    select code, EN_name, CH_name, longitude, latitude
    from china
  </select>
</mapper>