<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.hubu.gh_users_view.mapper.GhUserQuarterlyMapper" >

  <resultMap id="BaseResultMap" type="edu.hubu.gh_users_view.entity.GhUserQuarterly" >
    <result column="country_id" property="countryId" jdbcType="INTEGER" />
    <result column="quarter" property="quarter" jdbcType="VARCHAR" />
    <result column="total_users" property="totalUsers" jdbcType="INTEGER" />
    <association property="country" javaType="edu.hubu.gh_users_view.entity.Country">
      <id column="country_id" property="countryId" jdbcType="INTEGER" />
      <result column="EN_name" property="enName" jdbcType="VARCHAR" />
      <result column="CH_name" property="chName" jdbcType="VARCHAR" />
      <result column="longitude" property="longitude" jdbcType="DECIMAL" />
      <result column="latitude" property="latitude" jdbcType="DECIMAL" />
    </association>
  </resultMap>

  <select id="selectAll" resultMap="BaseResultMap" >
    SELECT quarterly.*, c.*
    FROM gh_user_quarterly quarterly
           LEFT JOIN country c ON quarterly.country_id = c.country_id;
  </select>
</mapper>